@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

*,
*::after,
*::before {
  font-family: 'Lato', sans-serif;
  color: #1d2d3d;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  background: rebeccapurple;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  overflow-y: auto;
  padding: 1rem;
}

main::-webkit-scrollbar-track {
  background-color: rebeccapurple;
}

/* Header component */
nav {
  display: flex;
  width: 100%;
  flex: 0 0 auto;
}

nav a {
  padding: 1em;
  width: 20%;
  flex-grow: 1;
  text-align: center;
  background: rebeccapurple;
}

nav a:hover {
  background: #330066;
}

nav svg {
  font-size: 16px;
}

nav svg path {
  fill: white;
}

/* end Header component */