@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

*,
*::after,
*::before {
  font-family: 'Lato', sans-serif;
  color: #1d2d3d;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  background: rebeccapurple;
  min-height: 100vh;
}

/* Header component */
.header {
  display: flex;
  width: 100%;
}

.header a {
  padding: 1em;
  width: 50%;
  text-align: center;
}

.header a:hover {
  background: #330066;
}

.header svg {
  font-size: 16px;
}

.header svg path {
  fill: white;
}

/* end Header component */

/* Home */
#app {
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  width: 500px;
}

button {
  padding: 0.5em 1em;
  border-radius: 6px;
  border-style: none;
  cursor: pointer;
  box-shadow: 1px 1px 1px black;
}

input {
  width: 100%;
  border: none;
  padding: 0.5em;
  border: 1px solid black;
  border-radius: 6px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}

.form {
  margin-bottom: 1em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  align-content: center;
}

.form .input-container {
  margin-right: .5em;
  flex-grow: 1;
}

.form .input-container:nth-child(2) {
  width: 110px;
  flex-grow: 0;
}

.input-container label {
  color: white;
}

.input-container input {
  margin-top: .25em;
}

.form button {
  background: #0069d9;
  color: white;
  height: 37 px;
}

.form button:hover {
  background: #0079ff;
  transform: translateY(1px);
}

.form button:active {
  transform: translateY(2px);
}

.form button svg {
  font-size: 20px;
}

.form button svg path {
  fill: white;
}

.list {
  width: 100%;
}

.item {
  list-style: none;
  padding: 0.5em;
  border: 2px solid #1d2d3d;
  width: 100%;
  max-width: 500px;
  display: flex;
  align-items: center;
  border-radius: 6px;
  margin-bottom: 0.5em;
  position: relative;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
  background: white;
  box-sizing: border-box;
}

.item::before {
  content: '';
  background: #1d2d3d;
  height: 4px;
  width: 0;
  position: absolute;
  bottom: 0;
  right: 100%;
  left: 0;
  transition: 0.3s;
}

.item:hover {
  background: #eee;
  transform: translateY(1px);
}

.item:hover::before {
  width: 100%;
}

.item p {
  width: 80%;
}

.item.completed p {
  opacity: 0.5;
  text-decoration: line-through;
}

.line-clamp {
  display: -webkit-box;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp:hover {
  line-clamp: 999;
  -webkit-line-clamp: 999;
}

.line-clamp strong {
  color: #139e4f;
  padding-right: 0.5em;
}

.line-clamp strong.overdue {
  color: #bc3545;
}

.item button {
  opacity: 0;
  cursor: pointer;
  background: transparent;
  box-shadow: none;
}

.item:hover button {
  opacity: 1;
}

.item button svg {
  font-size: 18px;
}

.item button:hover {
  transform: translateY(1px);
}

.item button:hover svg path {
  fill: #4b75a0;
}

.item button:active {
  transform: translateY(2px);
}

.remove {
  background: #bc3545;
  color: white;
  margin-top: 2em;
  position: fixed;
  bottom: 1em;
}

.remove:hover {
  background: #dc3545;
  transform: translateY(1px);
}

.remove:active {
  transform: translateY(2px);
}

/* end Home */

/* Settings */
.settings {
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  gap: .5em;
  width: 100%;
}

.settings h1,
.settings p {
  color: white;
  width: 100%;
}

.settings h1 {
  font-size: 32px;
}

.settings p {
  margin-bottom: 1em;
}

.settings .input-container {
  margin: 0;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  padding-top: 1em;
  padding-bottom: .5em;
}

.settings .input-container input {
  width: 75px;
  margin-left: .5em;
}

.settings .input-container input[type="checkbox"] {
  transform: scale(1.5);
  margin-left: 2em;
  vertical-align: middle;
  margin-top: -.25em;
  cursor: pointer;
}

.settings .input-container label {
  display: inline-block;
  margin-bottom: 1em;
}

.settings button {
  background: #0069d9;
  color: white;
  margin: 0;
  margin-top: 1em;
}

.settings button:hover {
  background: #0079ff;
  transform: translateY(1px);

}

.settings button:active {
  transform: translateY(2px);
}

.settings .information {
  margin: 0;
  position: fixed;
  bottom: 1em;
}

.information p {
  margin: 0;
  font-size: 12px;
}

/* end Settings */